<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex items-center justify-center min-h-screen bg-[#f7fafc]">
      <form
        id="loginForm"
        autocomplete="off"
        action="{% url 'login' %}"
        class="w-[380px] h-[332px] rounded-xs shadow-md rounded bg-[#fff]"
      >
        {% csrf_token %}
        <label
          for="email"
          class="block mt-4 ml-8 text-sm font-bold text-gray-700"
          >email</label
        >
        <input
          id="email"
          type="text"
          name="email"
          class="mt-1 w-[300px] px-3 py-2 ml-8 rounded border shadow-inner border-gray-300 bg-[#f7fafc] rounded-xs"
        /><br />
        <label
          for="password"
          class="block mt-3 ml-8 text-sm font-bold text-gray-700"
          >password</label
        >
        <input
          id="password"
          type="password"
          name="password"
          class="mt-1 w-[300px] px-3 py-2 ml-8 rounded border border-gray-300 shadow-inner bg-[#f7fafc] rounded-xs"
        /><br />

        <button
          type="submit"
          class="justify-center block px-8 py-2 mx-auto mt-6 text-gray-200 bg-blue-600 rounded hover:bg-blue-800"
        >
          Đăng nhập
        </button>

        <span class="block mx-auto mt-3 text-center">
          Bạn chưa có tài khoản
          <a href="{% url 'signin_page'%}" class="text-blue-700">Đăng ký</a>
        </span>
      </form>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
